/* COMMON start */
html {
  font-family: 'Poppins', sans-serif;
}

/* COMMON end */

/* HEADER start */

.header {
  width: 100%;
  background-color: rgb(241, 241, 241);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
}

.header .max-container {
  height: 90px;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  
}

.header__logo {
  font-size: 2rem;
  color: black;
  font-weight: bolder;
  letter-spacing: 0.05rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__logo a {
  color: inherit;
}

.header__logo:hover {
  background: linear-gradient(60deg, #D140F8 33%, #788CE9 66%, #37C2DE, #1ECCAE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__nav__list {
  font-size: 1.5rem;
  height: 40px;
  color: #666666;
  list-style: none;
  padding-left: 400px;
  display: flex;
  justify-content: space-evenly;
}

.header__nav__list__item {
  padding-left: 16px;
  padding-right: 16px;
  color: inherit;
  height: 40px;
  display: flex;
  align-items: center;
  
}

.header__nav__list__item:hover {
  background-color: #2b2b2b;
  color: white;
  border-radius: 5px;
}

.header__nav__list__item a {
  color: inherit;
  padding: 16px;
}

.header__button {
  height: 40px;
  background: #222;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 16px;
  color: white;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.header__button:hover {
  opacity: 0.85;
}
/* HEADER end */

/* FUTURE start */

.future {
width: 100%;
display: flex; 
}

.future .max-container {
  max-width: 1440px;
  max-height: 520px;
  display: flex;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 100px;
  margin-bottom: 0px;
  overflow: hidden;
  justify-content: space-around;
  gap: 240px;

}

.future__text {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-top: 75px;
  margin-bottom: 55px;
}

.future__text__logo {
  font-size: 3rem;
  font-weight: bolder;
  display: flex;
  align-items: center;
  padding-top: 15px;
  gap: 10px;
}

.future__text__paragraph {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}

.future__text__paragraph h2{
  font-size: 5.4rem;
  font-weight: 400;
  line-height: 6rem;
}
.future__text__paragraph p{
  padding-top: 15px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.future__text__buttons {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  padding-top: 15px;
  gap: 15px;
  
}


.button-download,
.button-read {
  height: 40px;
  width: 150px;
  background: #222;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1.5rem;
  cursor: pointer;
}

.button-read:hover,
.button-download:hover {
  opacity: 0.85;
}

.future__img {
  padding-top: 20px;
  transition: all 0.8s ease;
}

.future__img:hover {
  transform: translateY(-20px);
}

/* FUTURE end */

/* FEATURES start */
.features {
  width: 100%;
  display: flex;
  background-color: #222222;
}

.features .max-container {
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 100px;
  padding-bottom: 100px;
  flex-direction: column;
  align-items: center;

}

.features__title {
  font-family: 'Poppins', sans-serif;
  color: white;
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 600px;
}

.features__title p {
  font-size: 3.5rem;
  text-align: center;
}

.features__container {
  max-width: 1440px;
  display: flex;
  padding-left: 135px;
  padding-right: 135px;
  flex-wrap: wrap;
  gap: 15px;
}

.features__container > div {
  width: 380px;
  height: 490px;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;

}

.features__card__img {
  position: relative;
  top: 40px;
}

.bottom {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -180px;
  padding-bottom: 50px;

}

.features__card__button {
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -32px;
  z-index: 2;
  padding-top: 19px;
  padding-bottom: 19px;
  transition: all 0.8s ease;
}

.features__card__button:hover {
  border-radius: 50%;
  transition: 0.8s;
}

.bottom h3 {
  font-size: 2.4rem;
  font-weight: 400;
  padding-top: 48px;
}

.bottom p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #222222;
  padding-top: 15px;
  padding-left: 45px;
  padding-right: 45px;
  text-align: center;

}

.card-1-color {
  color: #0278ED;
}
.card-1-bgcolor {
  background-color: #0278ED;
}
.card-2-color {
  color: #FF5437;
}
.card-2-bgcolor {
  background-color:#FF5437
}
.card-3-color {
  color: #FF9209;
}
.card-3-bgcolor {
  background-color:#FF9209
}
.card-4-color {
  color: #E738CE;
}
.card-4-bgcolor {
  background-color: #E738CE;
}
.card-5-color {
  color: #00C6DF;
}
.card-5-bgcolor {
  background-color: #00C6DF;
}
.card-6-color {
  color: #B25DF8;
}
.card-6-bgcolor {
  background-color: #B25DF8;
}

/* FEATURES end */

/* FEATURES-ORANGE start */

.features-orange {
  width: 100%;
  background-color: #FF5437;
}

.features-orange .max-container {
  max-width: 1440px;
  max-height: 316px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  padding-left: 135px;
  padding-right: 135px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.features-orange__text {
  text-align: center;
  color: white;

}

.features-orange__text .text-96px {
  font-size: 9.6rem;
}
.features-orange__text .text-14px {
  font-size: 1.4rem;
  letter-spacing: 0.5rem;
}

/* FEATURES-ORANGE end */

/* TECHNOLOGY start */

.technology {
  width: 100%;
  display: flex; 
  background-color: #fff;
  }
  
  .technology  .max-container {
    max-width: 1440px;
    max-height: 645px;
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 0px;
    overflow: hidden;
    justify-content: space-around;
    gap: 240px;
    flex-direction: row-reverse;
  }
  
  .technology__text {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-top: 75px;
    margin-bottom: 55px;
  }

  .technology__text__paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    align-items: flex-start;

  }
  
  .technology__text__paragraph h3{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1rem;
  }

  .technology__text__paragraph h4{
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 4rem;
    padding-top: 15px;
  }
  .technology__text__paragraph p{
    padding-top: 15px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
  }

  .technology__img {
    padding-top: 20px;
    transition: all 0.8s ease;
  }
  
  .technology__img:hover {
    transform: translateY(-20px);
  }
  /* TECHNOLOGY end */

  /* SPEED start */
  .speed {
    width: 100%;
    display: flex;
    background-color: #F2F2F2;
    }
    
    .speed  .max-container {
      max-width: 1440px;
      max-height: 645px;
      display: flex;
      margin: 0 auto;
      margin-top: 100px;
      margin-bottom: 0px;
      overflow: hidden;
      justify-content: space-around;
      gap: 240px;
    
    }
    
    .speed__text {
      display: flex;
      flex-direction: column;
      max-width: 400px;
      margin-top: 75px;
      margin-bottom: 55px;
    }
  
    .speed__text__paragraph {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 15px;
      align-items: flex-start;
  
    }
    
    .speed__text__paragraph h3{
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1rem;
    }
  
    .speed__text__paragraph h4{
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 4rem;
      padding-top: 15px;
    }
    .speed__text__paragraph p{
      padding-top: 15px;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.4rem;
    }
  
    .speed__img {
      padding-top: 20px;
      transition: all 0.8s ease;
    }
    
    .speed__img:hover {
      transform: translateY(-20px);
    }
  /* SPEED end */

  /* DARK-MODE start */
  .dark-mode {
    width: 100%;
    display: flex;
    background-color: #222222;
  }
  
  .dark-mode .max-container {
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 100px;
    padding-bottom: 150px;
    flex-direction: column;
    align-items: center;
  
  }
  
  .dark-mode__title {
    color: white;
    display: flex;
    margin: 0;
    margin-bottom: 40px;
    flex-direction: column;
    align-items: center;
    max-width: 575px;
  }
  
  .dark-mode__title h1 {
    font-size: 1.4rem;
    text-align: center;
    padding-bottom: 15px;
  }

  .dark-mode__title h2 {
    font-size: 3.5rem;
    text-align: center;
    padding-bottom: 15px;
    font-weight: 400;

  }

  .dark-mode__title p {
    font-size: 1.8rem;
    text-align: center;
  }

  .dark-mode__img {
    display: flex;
  }

  .dark-mode__separator {
    width: 600px;
    height: 1px;
    background-color: #fff;
  }
  
  .light-mode {
    display: flex;
    width: 400px;
    justify-content: center;
    gap: 50px;
    padding-top: 45px;
    padding-bottom: 15px;
  }

  .light-mode__day,
  .light-mode__night {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .light-mode__day p,
  .light-mode__night p {
    color: white;
    font-size: 1.4rem;
  }

  .sun-img:hover {
    cursor: pointer;
    stroke: yellow;
    fill: yellow;
  }

  .moon-img:hover {
    cursor: pointer;
    stroke: #0278ED;
    fill: #0278ED;
  }

  /* DARK-MODE end */

  /* PRICING start */
  .pricing {
    width: 100%;
    display: flex;
    background-color: white;
  }
  
  .pricing .max-container {
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 100px;
    padding-bottom: 150px;
    flex-direction: column;
    align-items: center;
  
  }
  
  .pricing__title {
    color: #222222;
    display: flex;
    margin: 0;
    margin-bottom: 40px;
    flex-direction: column;
    align-items: center;
    max-width: 575px;
  }
  
  .pricing__title h1 {
    font-size: 1.4rem;
    text-align: center;
    padding-bottom: 15px;
  }

  .pricing__title h2 {
    font-size: 3.5rem;
    text-align: center;
    padding-bottom: 15px;
    font-weight: 400;

  }

  .pricing__title p {
    font-size: 1.8rem;
    text-align: center;
  }

  .pricing__container {
    max-width: 1440px;
    display: flex;
    padding-left: 135px;
    padding-right: 135px;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .pricing__container > div {
    width: 380px;
    height: 340px;
    background-color: #F2F2F2;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
  }

  .card-name {
    font-size: 1.8rem;
    padding-top: 50px;
  }

  .card-price {
    font-size: 10.8rem;
    transform: translateY(-30px);
    padding-top: 5px;
    letter-spacing: -6px;
  }

  .card-period {
    font-size: 1.4rem;
    padding-top: 0px;
    transform: translateY(-30px);
  }

  .card-button {
    height: 40px;
    width: 150px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .card-button:hover {
    opacity: 0.85;
  }

  /* PRICING end */

  /* Testimonials start */
  .testimonials {
    width: 100%;
    display: flex;
    background-color: #F2F2F2;
  }
  
  .testimonials .max-container {
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 100px;
    padding-bottom: 150px;
    flex-direction: column;
    align-items: center;
  
  }
  
  .testimonials__title {
    color: #222222;
    display: flex;
    margin: 0;
    margin-bottom: 40px;
    flex-direction: column;
    align-items: center;
    max-width: 575px;
  }
  
  .testimonials__title h1 {
    font-size: 1.4rem;
    text-align: center;
    padding-bottom: 15px;
  }

  .testimonials__title h2 {
    font-size: 3.5rem;
    text-align: center;
    padding-bottom: 15px;
    font-weight: 400;

  }

  .testimonials__title p {
    font-size: 1.8rem;
    text-align: center;
  }

  .testimonials__container {
    max-width: 1440px;
    display: flex;
    padding-left: 135px;
    padding-right: 135px;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .testimonials__container > div {
    width: 380px;
    height: 224px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    overflow: hidden;
    position: relative;
  }

  .testimonials__card__text {
    width: 312px;
    font-size: 1.6rem;
    padding-top: 30px;
    padding-left: 30px;
  }

  .user-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
    padding-left: 30px;
    gap: 10px;
  }

  .user-name {
    font-size: 1.6rem;
  }

  /* Testimonials end */

  /* Download end */
  .download {
    width: 100%;
    display: flex;
    background-color: white;
  }
  
  .download .max-container {
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 100px;
    padding-bottom: 150px;
    flex-direction: column;
    align-items: center;
  
  }
  
  .download__title {
    color: #222222;
    display: flex;
    margin: 0;
    margin-bottom: 40px;
    flex-direction: column;
    align-items: center;
    max-width: 575px;
  }
  
  .download__title h1 {
    font-size: 1.4rem;
    text-align: center;
    padding-bottom: 15px;
  }

  .download__title h2 {
    font-size: 3.5rem;
    text-align: center;
    padding-bottom: 15px;
    font-weight: 400;

  }

  .download__title p {
    font-size: 1.8rem;
    text-align: center;
  }

  /* Download end */

  /* FAQ start */

  .faq {
    width: 100%;
    display: flex;
    background-color: #F2F2F2;
  }
  
  .faq .max-container {
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
    align-items: center;
  }

  .faq-wrapper {
    width: 1200px;
    height: 434px;
  }
  
  .faq__title {
    color: #222222;
    display: flex;
    margin: 0;
    margin-bottom: 40px;
    flex-direction: column;
  }

  .faq-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .faq__title h1 {
    font-size: 3.2rem;
    font-weight: 400;
  }
  .faq__title p {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .faq__paragraph {
    width: 576px;
  }

  .faq__paragraph h2{
    font-size: 1.8rem;
    padding-bottom: 10px;
    font-weight: 400;
  }

  .faq__paragraph p{
    font-size: 1.6rem;
  }
  /* FAQ end */

   /* Footer start */
  .footer {
    width: 100%;
    display: flex;
    background-color: white;
  }
  
  .footer .max-container {
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 100px;
    padding-bottom: 150px;
    flex-direction: column;
    align-items: center;
  }
  .footer__logo {
    font-size: 3rem;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 25px;
}

.beauty-rotate {
  width: 64px;
  height: 64px;
  overflow: hidden;
  transition: all 0.5s ease;
} 
.beauty-rotate:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.footer__social-networks {
  display: flex;
  gap: 20px;
  padding-bottom: 25px;
}

.footer__all-rights {
  display: flex;
  gap: 4px;
  font-size: 1.6rem;
}

.footer__all-rights .grey {
  color: #B1B1B1;
}
   /* Footer end */
